*.gem
*.vscode
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
Gemfile.lock
node_modules
npm-debug.log*
.jekyll-cache
.jekyll-cache/Jekyll/Cache/Module/a5/d7fa8d6c108de9a568589fc53a3298f2909ebf86fc128a4c73e69de1b6d380
